<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container">

<body>
<link rel="stylesheet" href="/css/app.css">
<div th:replace="~{fragments/layout :: header}"></div>

<h2>Create Campaign</h2>

<form action="/campaigns"
      method="post">

<label>Campaign Name</label>
<br>

<input type="text"
       name="campaignName"
       required>

<br><br>

<label>DUT Server</label>
<br>

<select name="dutServer">

<option th:each="d : ${duts}"
        th:value="${d.dutId}"
        th:text="${d.serverName}">
</option>

</select>

<br><br>

<label>Load Generator</label>
<br>

<select name="loadGenerator">

<option th:each="g : ${generators}"
        th:value="${g.generatorId}"
        th:text="${g.serverName}">
</option>

</select>

<br><br>

<label>Test Configuration</label>
<br>

<select name="testConfiguration">

<option th:each="c : ${configs}"
        th:value="${c.testConfigId}"
        th:text="${c.testName}">
</option>

</select>

<label>Scenario</label>
<select name="scenario" required>
    <option value="">-- Select Scenario --</option>
    <option th:each="s : ${scenarios}"
            th:value="${s.scenarioId}"
            th:text="${s.scenarioName}">
    </option>
</select>

<label>Calls Per Second</label>
<input type="number"
       name="callsPerSecond"
       min="1"
       max="50"
       required>

<label>Total Calls</label>
<input type="number"
       name="totalCalls"
       min="1"
       max="500"
       required>

<br><br>

<button type="submit">
Save Campaign
</button>

</form>

</body>
</div>
</html>
