<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/app.css">
<title>Campaign Details</title>

<meta http-equiv="refresh" content="5"/>

</head>

<body>

<div class="header">
<h2>Campaign Details</h2>
</div>

<div class="nav">
    <a href="/dashboard">Home</a>
    <a href="/duts">DUT Servers</a>
    <a href="/generators">Load Generators</a>
    <a href="/test-configs">Test Configurations</a>
    <a href="/scenarios">Scenarios</a>
    <a href="/campaigns">Campaigns</a>
    <a href="/monitor">Monitor</a>
    <a href="/users">Users</a>
    <a href="/logout">Logout</a>
</div>
<a href="/monitor">Back</a>

<hr/>

<p>
Campaign :
<span th:text="${campaign.campaignName}"></span>
</p>

<p>
Status :
<span th:text="${campaign.status}"></span>
</p>

<p>
PID :
<span th:text="${campaign.sippPid}"></span>
</p>

<p>
Start :
<span th:text="${campaign.startTime}"></span>
</p>

<p>
End :
<span th:text="${campaign.endTime}"></span>
</p>

<p>
Result File :
<span th:text="${campaign.resultFile}"></span>
</p>

</body>
</html>
