<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Campaign Monitor</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
<div th:replace="~{fragments/layout :: header}"></div>


<div class="container">

    <h2 class="page-title">Campaign Monitor</h2>

    <div class="table-wrapper">
    <table>
        <tr>
            <th>ID</th>
            <th>Campaign</th>
            <th>Status</th>
            <th>PID</th>
            <th>Start Time</th>
            <th>Action</th>
        </tr>

        <tr th:each="c : ${campaigns}">
            <td th:text="${c.campaignId}"></td>
            <td th:text="${c.campaignName}"></td>
            <td th:text="${c.status}"></td>
            <td th:text="${c.sippPid}"></td>
            <td th:text="${c.startTime}"></td>
            <td>
                <a class="btn"
                   th:href="@{/monitor/{id}(id=${c.campaignId})}">
                    View Monitor
                </a>
            </td>
        </tr>
    </table>

</div>

</div>
</body>
</html>
