<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container">
<body>
<link rel="stylesheet" href="/css/app.css">

<div th:replace="~{fragments/layout :: header}"></div>

<form action="/duts"
      method="post">

    <input type="text"
           name="serverName"
           placeholder="Server Name">

    <input type="text"
           name="ipAddress"
           placeholder="IP Address">

    <label>SSH Port</label>
	<input type="number" name="sshPort" value="22">

    <label>SSH Username</label>
	<input type="text" name="sshUsername">

    <label>SSH Password</label>
	<input type="password" name="sshPassword">

    <button type="submit">
        Save
    </button>

</form>

</body>
</div>
</html>
