<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container">

<body>
<link rel="stylesheet" href="/css/app.css">

<div th:replace="~{fragments/layout :: header}"></div>

<a href="/duts/new">
    Add DUT
</a>

<div class="table-wrapper">
<table border="1">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>IP</th>
    <th>SSH Port</th>
    <th>SSH User</th>
</tr>

<tr th:each="dut : ${duts}">
    <td th:text="${dut.dutId}"></td>
    <td th:text="${dut.serverName}"></td>
    <td th:text="${dut.ipAddress}"></td>
    <td th:text="${dut.sshPort}"></td>
    <td th:text="${dut.sshUsername}"></td>
</tr>

</table>
</div>

</body>
</div>
</html>
