<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="/css/app.css">
    <title>Users</title>
</head>

<div class="container">

<body>
<div th:replace="~{fragments/layout :: header}"></div>


<h2>User Management</h2>

<table border="1">

<tr>
    <th>ID</th>
    <th>Username</th>
    <th>Role</th>
    <th>Enabled</th>
</tr>

<tr th:each="u : ${users}">
    <td th:text="${u.userId}"></td>
    <td th:text="${u.username}"></td>
    <td th:text="${u.role}"></td>
    <td th:text="${u.enabled}"></td>
</tr>

</table>

</body>
</div>
</html>
