<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Upload Scenario</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>

<div th:replace="~{fragments/layout :: header}"></div>

<div class="container">

    <h2 class="page-title">Upload SIPp Scenario</h2>

    <form action="/scenarios"
          method="post"
          enctype="multipart/form-data">

        <label>Scenario Name</label>
        <input type="text"
               name="scenarioName"
               required>

        <label>Description</label>
        <textarea name="description"></textarea>

        <label>Scenario XML File</label>
        <input type="file"
               name="file"
               accept=".xml"
               required>

        <button class="btn" type="submit">
            Upload
        </button>

        <a class="btn btn-secondary" href="/scenarios">
            Back
        </a>

    </form>

</div>

</body>
</html>
