<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/app.css">
    <title>Scenario Management</title>
</head>
<body>

<div class="header">
<h2>Scenario Management</h2>
</div>

<div class="nav">
    <a href="/dashboard">Home</a>
    <a href="/duts">DUT Servers</a>
    <a href="/generators">Load Generators</a>
    <a href="/test-configs">Test Configurations</a>
    <a href="/scenarios">Scenarios</a>
    <a href="/campaigns">Campaigns</a>
    <a href="/monitor">Monitor</a>
    <a href="/users">Users</a>
    <a href="/logout">Logout</a>
</div>
<a href="/scenarios/new">
    Upload Scenario
</a>

<table border="1">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>File</th>
    <th>Deploy</th>
</tr>

<tr th:each="scenario : ${scenarios}">
    <td th:text="${scenario.scenarioId}"></td>
    <td th:text="${scenario.scenarioName}"></td>
    <td th:text="${scenario.fileName}"></td>

    <td>
        Deploy
    </td>
</tr>

</table>

<br/>

</body>
</html>
