<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/app.css">
    <title>Scenario Management</title>
</head>

<div class="container">

<body>
<div th:replace="~{fragments/layout :: header}"></div>

<a href="/scenarios/new">
    Upload Scenario
</a>

<table border="1">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>File</th>
    <th>Deploy</th>
</tr>

<tr th:each="scenario : ${scenarios}">
    <td th:text="${scenario.scenarioId}"></td>
    <td th:text="${scenario.scenarioName}"></td>
    <td th:text="${scenario.fileName}"></td>

    <td>
        Deploy
    </td>
</tr>

</table>

<br/>

</body>
</div>
</html>
