<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
</head>

<body>

<h2>Load Testing Dashboard</h2>

<hr>

<ul>

    <li>
        <a href="/load-generators">
            Load Generators
        </a>
    </li>

    <li>
        <a href="/dut-servers">
            DUT Servers
        </a>
    </li>

    <li>
        <a href="/jobs">
            Test Jobs
        </a>
    </li>

    <li>
        <a href="/reports">
            Reports
        </a>
    </li>

</ul>

<hr>

<a href="/logout">
    Logout
</a>

</body>
</html>
