<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="/css/app.css">
    <title>Load Generators</title>
</head>

<body>

<div class="header">
<h2>Load Generator Servers</h2>
</div>

<div class="nav">
    <a href="/dashboard">Home</a>
    <a href="/duts">DUT Servers</a>
    <a href="/generators">Load Generators</a>
    <a href="/test-configs">Test Configurations</a>
    <a href="/scenarios">Scenarios</a>
    <a href="/campaigns">Campaigns</a>
    <a href="/monitor">Monitor</a>
    <a href="/users">Users</a>
    <a href="/logout">Logout</a>
</div>


<hr>

<p th:if="${success}" th:text="${success}" style="color:green;"></p>
<p th:if="${error}" th:text="${error}" style="color:red;"></p>

<a href="/generators/new">Add Load Generator</a>

<br><br>

<table border="1">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>IP Address</th>
    <th>SSH Port</th>
    <th>SSH User</th>
    <th>Max Calls</th>
    <th>Status</th>
    <th>Action</th>
</tr>

<tr th:each="g : ${generators}">
    <td th:text="${g.generatorId}"></td>
    <td th:text="${g.serverName}"></td>
    <td th:text="${g.ipAddress}"></td>
    <td th:text="${g.sshPort}"></td>
    <td th:text="${g.sshUsername}"></td>
    <td th:text="${g.maxCalls}"></td>
    <td th:text="${g.status}"></td>

    <td>
        <a th:href="@{/generators/validate/{id}(id=${g.generatorId})}">
            Validate
        </a>
        |
        <a th:href="@{/generators/delete/{id}(id=${g.generatorId})}">
            Delete
        </a>
    </td>
</tr>

</table>

</body>
</html>
