<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/app.css">

<div class="container">

<body>

<div th:replace="~{fragments/layout :: header}"></div>

<form action="/test-configs"
      method="post">

    <label>Test Name</label>
    <input type="text"
           name="testName">

    <br><br>

    <label>Call Count</label>
    <input type="number"
           name="callCount">

    <br><br>

    <label>CPS</label>
    <input type="number"
           name="cps">

    <br><br>

    <label>Duration (Seconds)</label>
    <input type="number"
           name="durationSeconds">

    <br><br>

    <button type="submit">
        Save
    </button>

</form>

</body>
</div>
</html>
