<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/app.css">

<div class="container">

<body>

	
<div th:replace="~{fragments/layout :: header}"></div>



<a href="/test-configs/new">
Create Configuration
</a>

<br><br>

<div class="table-wrapper">
<table border="1">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Calls</th>
    <th>CPS</th>
    <th>Duration</th>
</tr>

<tr th:each="cfg : ${configs}">
    <td th:text="${cfg.testConfigId}"></td>
    <td th:text="${cfg.testName}"></td>
    <td th:text="${cfg.callCount}"></td>
    <td th:text="${cfg.cps}"></td>
    <td th:text="${cfg.durationSeconds}"></td>
</tr>

</table>
</div>

</body>
</div>
</html>
